
header {
    display: flex;
    justify-content: space-between;
    background-color: #AA237C;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Fira Code', monospace, Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    
}

a::before {
    content: "";
    background-color: #362F7E;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #362F7E;
    padding: 18px 20px;
    box-shadow: 5px 5px 0px black;
    margin-right: 0;
}

#button:hover {
    background-color: #0babd3;
}